<template>
  <div class="columns">
  <div class="column has-background-primary">
    <button class="button is-primary is-inverted" @click="requestPrime">Request prime and generator</button>
    <div>
      Big prime: <p>{{p ? p : '--'}}</p>
      Generator: <p>{{g ? g : '--'}}</p>
    </div>
    <div>
      <div class="field">
  <label class="label">Private key</label>
  <div class="control">
    <input class="input" type="text" v-model="privateKey" placeholder="e.g Alex Smith">
  </div>
</div>
      <button @click="calculatePartialkey" class="button is-primary is-inverted">Generate partial key</button>
      <p>Partial Key:</p>
      <p>{{partialKey ? partialKey : '--'}}</p>
    </div>
  </div>
  <div class="column has-background-white-ter">
    <form @submit.prevent="sendForm">
      <textarea class="textarea" v-model="sendMessage" ></textarea><br>
    <button class="button">Send encrypted message</button>
    </form>
  </div>
  <div class="column has-background-dark">
    <div class="has-text-white">
      <p>Encrypted response: {{receivedMessage}}</p>
      <p>Dencrypted response: <pre>{{decryptedMessage}}</pre></p>
    </div>
  </div>
</div>
</template>

<script>
import DiffieHellman from '../lib/diffie-hellman'
import BigInt from 'big-integer'
import CryptoJS from 'crypto-js'

export default {
  name: 'HelloWorld',
  data: function (){
    return {
      p: null,
      g: null,
      partialKeyB: null,
      privateKey: '92729826291985320952378375480636900714519033548403580708021182068299',
      partialKey: null,
      sendMessage: '',
      receivedMessage: '',
      decryptedMessage: ''
    }
  },
  methods: {
    sendForm: function(){
      const completeKey = DiffieHellman.completeKey(BigInt(this.privateKey),BigInt(this.p),BigInt(this.partialKeyB)).toString()
      const send = CryptoJS.AES.encrypt(this.sendMessage,completeKey).toString()
      this.$socket.emit('message',{message: send, key: this.partialKey})
    },
    calculatePartialkey: function(){
      this.partialKey = DiffieHellman.computePartialKey(BigInt(this.privateKey),BigInt(this.p),BigInt(this.g))
    },
    requestPrime: function () {
      this.$socket.emit('request_prime')
    }
  },
  sockets: {
        receivePrime: function (data) {
            this.p = data.p
            this.g = data.g
            this.partialKeyB = data.publicKey
        },
        response: function (data) {
           const completeKey = DiffieHellman.completeKey(BigInt(this.privateKey),BigInt(this.p),BigInt(this.partialKeyB)).toString()
            this.receivedMessage = data
            this.decryptedMessage = CryptoJS.AES.decrypt(data,completeKey).toString(CryptoJS.enc.Utf8)
        }
    },
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
